name: Build and Upload Wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.2
        env:
          # macOS requires explicit installation of libomp
          CIBW_BEFORE_BUILD_MACOS: brew install libomp
          # Tell the compiler where to find libomp on Mac
          CIBW_ENVIRONMENT_MACOS: >
            CFLAGS="-I$(brew --prefix libomp)/include $CFLAGS"
            LDFLAGS="-L$(brew --prefix libomp)/lib -lomp $LDFLAGS"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl